.carousel__text--color {
    color: black;
}

.carousel__text--whiteshadow {
    text-shadow: 2px 2px 1px white;
}

.carousel__text--blackshadow {
    text-shadow: 2px 2px 1px black;
}

.carousel__text--weight {
    /* font-weight: bold; */
}